.container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.column-container{
    height: 90vh;
    width: 250px;
    margin-top: 40px !important;
    margin: 20px;
    padding: 10px;
}

.genre-column {
    background: linear-gradient(to right, rgba(76, 175, 80, 0.8), rgba(46, 139, 87, 0.8)); /* 使用渐变背景色 */
    width: 100%;
    padding: 20px;
    height: 80vh;
    overflow-y: auto;
}

.genre-column h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 15px;
}