.feedbackContainer {
    max-width: 800px;
    margin: 130px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 300px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#feedbackForm label {
    margin-bottom: 8px;
    font-weight: bold;
}

#feedbackForm textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    height: 150px;
}

#feedbackForm button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

#feedbackForm button:hover {
    background-color: #45a049;
}
