<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/adminLogin.css}" />
</head>
<body>
    <form>
        <h2>Simple Love Admin</h2>
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
    <script th:src="@{/static/js/adminLogin.js}"></script>
</body>
</html>
